body {
    background-image: url(./imgs/kacper-chrzanowski-25RUpGGQPs8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
    
.box {
    display: inline-block;       
    border: 1px solid black;
    width: 15px;
    height: 15px;
    margin-left: -1px;
    margin-bottom: -1px;
}
  
.off {
    background-color: black;
}
  
.on {
    background-color: #66FF00;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.lightblue {
    background-color: cyan;
}

.blue {
    background-color: blue;
}
    
.box:hover { 
    background: lighten(25%);
}
  
.center {
    margin: auto;
    display: table;
    margin-top: 10px;
}
  
.grid {
    width: 150px;
    line-height: 0;
    margin: auto;
    box-shadow: 0px 0px 20px white;
    margin-top: 20px;
}
    
h1, h2, h3, h4 {
    color:  #66FF00;
    background-color: black;
    margin: auto;
    text-align: center;
    width: 50%;
    margin-top: 10px;
}
  
h4 {
    margin-top: 0px;
}

