@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background-image: url(./imgs/kacper-chrzanowski-25RUpGGQPs8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.app {
    padding: 10%;
}
    
.box {
    display: inline-block;       
    border: 1px solid black;
    width: 15px;
    height: 15px;
    margin-left: -1px;
    margin-bottom: -1px;
}
  
.off {
    background-color: black;
}
  
.on {
    background-color: #66FF00;
}

.red {
    background-color: #ff1dce;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.blue {
    background-color: blue;
}
    
.box:hover { 
    background: lighten(25%);
}
  
.center {
    margin: auto;
    display: table;
    margin-top: 10px;
}

.btn-cont {
    display: flex;
    justify-content: center;
}

.buttons {
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
}

.modal {
    padding: 10%;
    background-color: black;
}
  
.grid {
    width: 150px;
    line-height: 0;
    margin: auto;
    box-shadow: 0px 0px 20px white;
    margin-top: 20px;
}
    
h1, h2, h3, h4 {
    color:  #66FF00;
    background-color: black;
    margin: auto;
    text-align: center;
    width: 50%;
    margin-top: 10px;
    font-family: 'VT323', monospace;
    font-size: 300%;
}
  
h4 {
    margin-top: 0px;
}

p {
    font-family: 'VT323', monospace;
    color: #66FF00;
    font-size: 150%;
    padding: 2%;
}

#rules {
    background-color: black;
    padding: 5%;
    margin-top: 5%;
}

.Overlay {
    background-color: black;
}
